<div *ngIf="categories" class="col-md-12">
    <h4>Select a category</h4>
    <select class="form-control" #category (change)="getProducts(category.value)">
        <option *ngFor="let category of categories" [value]="category.productCategoryId">
            {{category.categoryName}} 
        </option>
    </select>
</div>

<div *ngIf="products" class="col-md-12">
    <div *ngFor="let product of products" class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{product.productTitle}}
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-12"><label>Description</label> {{product.productDescription}}</div>
                    <div class="col-md-12"><label>Price Per Kg</label> {{product.pricePerKg}}</div>
                    <div class="col-md-12"><label>Active</label> {{product.isActive}}</div>
                    <div class="col-md-12"><label>Sum By Weight</label> {{product.sumByWeight}}</div>
                </div>
            </div>
        </div>
    </div>
</div>