<div class="col-sm-12" *ngIf="orders">
	<h3>Orders for Customer</h3>
	<div class="table-responsive">
		<div class="loader-overlay loader-inverse" [class.loader.overlay.visible]="isLoading">
			<div class="loader-icon">
				<div class="loader-animation"></div>
			</div>
		</div>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Order Id</th>
					<th>Order Status Id</th>
					<th>Order Title</th>
					<th>Order Date</th>
					<th>Collection Date</th>
					<th>Order Deposit</th>
					<th>Order Value</th>
					<th>Order Note</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let order of orders">
					<td>{{order.orderId}}</td>
					<td>{{order.orderStatusId}}</td>
					<td>{{order.customerId}}</td>
					<td>{{order.orderTitle}}</td>
					<td>{{order.orderDate | date:'short'}}</td>
					<td>{{order.collectionDate | date:'short'}}</td>
					<td>{{order.orderDeposit | currency:'gbp':'true'}}</td>
					<td>{{order.orderValue | currency:'gbp':'true'}}</td>
					<td>{{order.orderNote}}</td>
					<td>
						<a [routerLink]="['/order-details', order.orderId]">View Order Details</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="col-sm-2">
	<button type="button" class="btn btn-primary">New Order</button>
</div>