<div class="vertical-center">
	<div class="col-sm-12 text-center">
		<div class="col-sm-4">
			<div class="col-sm-12">
				<a routerLink="/new-order">
					<div class="panel panel-success">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-12">
									<i class="fa fa-plus fa-5x"></i>
								</div>
								<div class="col-xs-12 text-center">
									<h3>NEW ORDER</h3>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-12">
				<a routerLink="/orders">
					<div class="panel panel-success">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-12">
									<i class="fa fa-list fa-5x"></i>
								</div>
								<div class="col-xs-12">
									<h3>VIEW ORDERS</h3>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="col-sm-12">
				<a (click)="createCustomer()" class="clickable">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-12">
									<i class="fa fa-user-plus fa-5x"></i>
								</div>
								<div class="col-xs-12">
									<h3>NEW CUSTOMER</h3>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-12">
				<a routerLink="/customers">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-12">
									<i class="fa fa-users fa-5x"></i>
								</div>
								<div class="col-xs-12">
									<h3>VIEW CUSTOMERS</h3>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="col-sm-12">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-12">
								<i class="fa fa-pie-chart fa-5x"></i>
							</div>
							<div class="col-xs-12">
								<h3>REPORTING</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<a routerLink="/products">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-12">
									<i class="fa fa-wrench fa-5x"></i>
								</div>
								<div class="col-xs-12">
									<h3>ADMIN</h3>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<app-crouch-customers #crouchcustomers [newCustomerFlag]=true></app-crouch-customers>