<div class="row">
    <h2>Orders</h2>

    <p>Select an order</p>
    <select *ngIf="orders" class="form-control" #order (change)="getOrder(order.value)">
        <option *ngFor="let order of orders" [value]="order.orderId">
            {{order.orderTitle}} 
        </option>
    </select>
</div>

<hr />

<div *ngIf="order">
    <form (ngSubmit)="updateOrder()" #orderForm="ngForm">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-md-12">
                    <label class="col-md-4 control-label">Order ID</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-md" [(ngModel)]="order.orderId" name="id">
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-md-12">
                    <label class="col-md-4 control-label">Order Status</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-md" [(ngModel)]="order.orderStatus.orderStatusName" name="status">
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-md-12">
                    <label class="col-md-4 control-label">Customer Name</label>
                    <select *ngIf="customers" class="form-control" #customer>
                        <option *ngFor="let customer of customers" [value]="order.customerId" placeholder="Select a customer...">
                            {{customer.firstName}} {{customer.lastName}} 
                        </option>
                    </select>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-md-12">
                    <label class="col-md-4 control-label">Order Date</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-md" [(ngModel)]="order.orderDate" name="orderDate">
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-md-12">
                    <label class="col-md-4 control-label">Collection Date</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-md" [(ngModel)]="order.collectionDate" name="collectionDate">
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-md-12">
                    <label class="col-md-4 control-label">Order Deposit</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-md" [(ngModel)]="order.orderDeposit" name="orderDeposit">
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-md-12">
                    <label class="col-md-4 control-label">Order Value</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-md" [(ngModel)]="order.orderValue" name="orderValue">
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
<div *ngIf="!order">
    <p>Create a new order</p>
    <form (ngSubmit)="createOrder()" #newOrderForm="ngForm">
        <div class="col-md-12">
            <label class="col-md-4 control-label">Customer</label>
            <div class="col-md-8">
                <select *ngIf="customers" class="form-control" #customer>
                    <option *ngFor="let customer of customers" [value]="customer.customerId" placeholder="Select a customer...">
                        {{customer.firstName}} {{customer.lastName}} 
                    </option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>