<div class="col-sm-12" *ngIf="order">
	<h3>Orders Details</h3>
	{{order.orderTitle}} {{order.orderDate | date:'short'}} {{order.collectionDate | date:'short'}} {{order.orderDeposit}} {{order.orderValue}}
	<div class="col-sm-12">
		<h4>Orders Items</h4>
		<div class="table-responsive">
			<div class="loader-overlay loader-inverse" [class.loader.overlay.visible]="isLoading">
				<div class="loader-icon">
					<div class="loader-animation"></div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Product</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let orderItem of order.orderItems">
						<td>{{orderItem.product.productName}}</td>
					</tr>
				</tbody>
			</table>
			<button type="button" class="btn btn-primary" (click)="addOrderItem()">Add Order Item</button>
		</div>
	</div>
</div>

<!-- <bs-modal #newOrderItemModal>
	<bs-modal-header>
		<h4 class="modal-title">Add a new order item</h4>
	</bs-modal-header>
	<bs-modal-body>
		<div *ngIf="newOrderItem">
			<form #newOrderItemForm="ngForm">
				<div class="col-sm-12">
					<div class="form-group">
						<div class="col-md-12">
							<label class="col-md-4 control-label">Product</label>
						</div>
					</div>
				</div>
			</form>
		</div>
	</bs-modal-body>
	<bs-modal-footer>
		<button type="button" class="btn btn-default" (click)="newOrderItemModal.dismiss()">Close</button>
		<button type="submit" class="btn btn-success">Submit</button>
	</bs-modal-footer>
</bs-modal> -->